.container {
    width: 300px;
  margin: 60px auto;
  padding: 36px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

 .input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #4b1c1c;
  border-radius: 10px;
}
#todo{
  justify-content: center;
  align-items: center;
}

